body {
    min-width: 360px;
}

.body-content {
    padding: unset;
    max-width: 100%;
}

#btnUser {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.formulario {
    margin: 20px auto;
    max-width: 400px;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: darkslateblue;
}

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: midnightblue;
            border-left: 10px solid orange;
        }

        .sidebar a:hover:not(.active) {
            background-color: royalblue;
        }

.info-usuario {
    font-size: 1.4rem;
}

@media screen and (max-width: 900px) {
    .nav-link span {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #btnUser {
        font-size: xx-large;
    }

        #btnUser span {
            display: none;
        }

    div.content {
        margin-left: unset;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
            width: 25%;
            text-align: center;
        }

            .sidebar a.active {
                border-left: unset;
                border-bottom: 4px solid orange;
            }

            .sidebar a span {
                display: none;
            }

    div.content {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 575px) {
    #btnUser {
        font-size: x-large;
    }

        #btnUser span {
            display: inline-flex;
        }

    #collapseContent ul {
        align-items: flex-end !important;
    }

    .nav-link {
        display: inline-flex;
        align-items: center;
    }

        .nav-link span {
            display: block;
        }
}
