html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 360px;
}

.body-content {
    padding: unset;
    max-width: 100%;
}

#principal {
    height: calc(100vh - 60px);
    overflow: auto;
    background-color: lightblue;
}

#btnUser {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.formulario {
    margin: 20px auto;
    max-width: 500px;
}

.iframeModal {
    border: none;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.blinking {
    font-size: 1rem;
    font-weight: bolder;
    animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
        background-color: #ffc107;
    }
    50% {
        color: #fff;
        background-color: #dc3545;
    }
    100% {
        color: #000;
        background-color: #ffc107;
    }
}

@media screen and (max-width: 900px) {
    .nav-link span {
        display: none;
    }

    .nav-link .blinking {
        display: inline;
    }
}

@media screen and (max-width: 700px) {
    #btnUser {
        font-size: xx-large;
    }

        #btnUser span {
            display: none;
        }

    div.content {
        margin-left: 0px !important;
    }

    .navbar {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 999;
    }

    #principal {
        position: relative;
        top: 60px;
        height: calc(100vh - 60px);
        overflow: auto;
    }
}

@media screen and (max-width: 575px) {
    #btnUser {
        font-size: x-large;
    }

        #btnUser span {
            display: inline-flex;
        }

    #collapseContent ul {
        align-items: flex-end !important;
    }

    .nav-link {
        display: inline-flex;
        align-items: center;
    }

        .nav-link span {
            display: block;
        }
}
